<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {border: blue 2px dashed; color: blue; padding-left: 15px; padding-top: 15px;}

    </style>
    <title>1009 js and css demo practice</title>
</head>
<body>
    <h1>1009 JS practice demo</h1>
    <p>
        #___ JS practice comments and console.log()  <br>------------------<br>
        // this is a comment, single-lined --> console.log() used to print to console <br><br>

        console.log('Today is good to restart my JS learning!') <br><br>

        /* <br>
        this is a multi-lined <br>
        comment used in JS, <br>
        you will use the semi-colon ; at the end <br>
        to seperate code parts from other code parts <br>
        */  <br><br>

        /* this is also a multi-lined comment */ <br><br>

        // you can add style straight into the line code example...  <br>
        // use the --> %c to add style right after the 1st ' or '' in a string   <br>
        // then after the end ' or '' --> use comma , then put the "" w/ correct CSS style  <br><br>

        console.log('%cToday is good to restart my JS learning!', "color: blue; font-size: 40px;"); <br>

    </p>
    <p>
        #___ JS variables demo   <br>-----------------<br>
        // create a new variable thats empty <br>
        var person;  // undefined  <br>
        var person = "Jesus"  <br>
        <br>
        person;  // 'Jesus'  <br><br>

        console.log("Hello", person)    // Hello Jesus <br><br>

        // create new variable to save the greeting <br>
        var greeting = "Hola Buenos Dias @ 0747" <br>
        console.log(greeting, person)  // Hola Buenos Dias @ 0747 Jesus <br><br>

        // can change the variables using = <br>
        greeting = 'hi' <br>
        person = 'Jessica'  <br>
        console.log(greeting, person) // Hi Jessica  <br><br>

        example1 <br>
        var petDog = "Pepper"  <br>
        var petFish = "Rex"  <br>
        console.log(petDog)  // 'Pepper'  <br>
        console.log(petFish) // 'Rex'  <br>
        console.log("My pet dogs name is: " + petDog)  <br>
        console.log("My pet fish name is: " + petFish)  <br>
        var dogsound = "woof"  <br>
        var fishsound = "click"  <br>
        console.log(petDog + " says " + dogsound)

    </p>
    <p>
        #___ operators in JS    <br>---------------<br>
        Logical AND operator: && --> used to confirm if multiple comparisons are true <br><br>

        Logical OR operator: || --> when to chk if at least one of given comparisons is true  <br><br>

        Logical NOT operator: !  --> think of as switch, flips the boolean value from T to F or F to T<br><br>

        The modulus operator: %    <br><br>

        The equality operator: ==   <br><br>

        The strict equality operator: ===    <br><br>

        The inequality operator: !=   <br><br>

        The strict inequality operator: !==   <br><br>

        The addition assignment operator: +=    <br><br>

        The concatenation assignment operator: += (it's the same as the previous one - more on that later)  <br><br>

        ex2. check if time is between certain numbers using AND && <br>-------------------<br>
        var currentTime = 10;  <br>
        console.log(currentTime > 9 && currentTime < 17);  <br><br>

        ex3. check if time is either or ||  <br>---------------<br>
        var currentTime = 7; <br>
        console.log(currentTime < 9 || currentTime > 17);  // either x<9 or x>17  <br><br>

        ex4. check using the NOT !  operator <br>---------------------<br>
        var petHungry = true;  <br>
        console.log('Fed the pet some food') <br>
        console.log('Pet is hungry: ', !petHungry);   // Pet is hungry: false  <br><br>

        ex5 using modulus operator <br>-----------------<br>
        // store has 5 tables w/ 4 chairs each  <br>
        // 22 people show up, how many will not be able to sit <br>
        console.log(22 % 5);    // 2  <-- will not sit  <br><br>

        ex6  using the +=  operator  <br>-------------------------<br>
        used when want to accumulate the values stored in a variable  <br>
        var mon = 1; <br>
        var tue = 2; <br>
        var wed = 1; <br>
        var thu = 2;  <br>
        var fri = 3;  <br>
        console.log(mon + tue + wed + thu + fri);   // 9  <br><br>

        //simplify the above code using the += <br>
        var overtime = 1; <br>
        overtime +=2;  <br>
        overtime +=1;  <br>
        overtime +=2;  <br>
        overtime +=3;  <br>
        console.log(overtime);   // 9 <br><br>

        ex7 connecting strings using +=  <br>-----------------<br>
        var longString = "";  <br>
        longString += "Once";  <br>
        longString += " upon";  <br>
        longString += " a";  <br>
        longString += " time";  <br>
        longString += "...";  <br>
        console.log(longString);   // "Once upon a time..." <br><br>


    </p>
    <p>
        #___    <br>

    </p>
    <p>
        #___    <br>

    </p>




</body>
</html>