<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1009 js and css demo practice</title>
</head>
<body>
    <h1>1009 JS practice demo</h1>
    <p>
        #___ JS practice comments and console.log()  <br>------------------<br>
        // this is a comment, single-lined --> console.log() used to print to console <br><br>

        console.log('Today is good to restart my JS learning!') <br><br>

        /* <br>
        this is a multi-lined <br>
        comment used in JS, <br>
        you will use the semi-colon ; at the end <br>
        to seperate code parts from other code parts <br>
        */  <br><br>

        /* this is also a multi-lined comment */ <br><br>

        // you can add style straight into the line code example...  <br>
        // use the --> %c to add style right after the 1st ' or '' in a string   <br>
        // then after the end ' or '' --> use comma , then put the "" w/ correct CSS style  <br><br>

        console.log('%cToday is good to restart my JS learning!', "color: blue; font-size: 40px;"); <br>

    </p>
    <p>
        #___    <br>

    </p>
    <p>
        #___    <br>

    </p>
    <p>
        #___    <br>

    </p>
    <p>
        #___    <br>

    </p>




</body>
</html>