<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {border: blue 2px dashed; color: blue; padding-left: 15px; padding-top: 15px;}

    </style>
    <title>1009 practice for MS IT course</title>
</head>
<body>
    <h1> 1009 practice for IT course demo1</h1>
    <p>
        #____ <b>IaaS (Infrastructure as a Service)</b>  <br>----------------------<br>
        provides virtualized computing resources over the internet. <br>
        infrastructure relates to the physical machines on which the software runs.  <br>
        Meaning to rent IaaS is to rent the high-spec computers on the cloud <br>
        ex1.  Microsoft Azure, which provides Azure VMs for running apps, <br>
        .... Azure Blob storage, stores large amounts of unstructured data, <br>
        .... Azure Virtual networks which links different resources
    </p>

    <p>
        #____ <b>PaaS (Platform as a Service)</b>  <br>----------------------<br>
        platform for development, testing, deployment of applications <br>
        provides complete dev. env., including: OS, programming lang., dev tools. <br>
        ex1.  Microsoft Azure PaaS <br>
        ... Azure App Service --> provides web app hosting made in different programming languages.  <br>
    </p>

    <p>
        #____ <b>SaaS (Software as a Service)</b>  <br>----------------------<br>
        cloud computing that delivers software apps online <br>
        use of web browser to access the apps <br>
        software is hosted & managed by the cloud service provider <br>
        ex1.  Azure SaaS --> Dynamics 365 --> comprehensive CRM (customer relationship mgmt) solution <br>
    </p>

    <p>
        #____   <br>
    </p>
    <p>
        #____   <br>
    </p>


</body>
</html>