<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1012 SC900 notes p1  </title>
</head>
<body>
    <h2> 1012 sc900 notes -p1</h2>
    <p>
        #___ 6 principles of privacy <br>--------------------<br>
        customer Control  <br>
        Transparency  <br>
        Security  <br>
        Strong legal protections   <br>
        No content-based targeting  <br>
        Benefits to you <br>
    </p>
    <p>
        #____ Microsoft Priva <br>------------------<br>
        a set of privacy solutions  that enables org to consolidate privacy protection, <br>
        help w/ compliance to regulations, & mitigate privacy risk. <br><br>

        Suite: <br>
        Subject rights requests --helps handle inquiries about personal data that companies have collected <br>
        Privacy risk mgmt <br>
        Consent mgmt  <br>
        Privacy assessments <br>
        Tracker scanning  <br>
    </p>
    <p>
        #____ Microsoft Entra ID<br>------------------<br>
        cloud-based IAM (identity, access mgmt) solution. <br>
        part of the MS Entra family of multicloud IAM solutions <br>
        IDaaS (Identity as a service) <br>
        <br>
        Identity Secure Score<br>
        |--> functions as indicator for how aligned you are w/ Microsoft best practice recommendations for security. <br>
        |__> avail. in all editions of Entra ID <br>
        |--> subscribers to Azure services, Microsoft 365, Dynamics 365 have auto. access <br><br>

        #__ 4 pillars of identity infrastructure <br>_____________<br>
        administration  <br>
        authentication  <br>
        authorization  <br>
        auditing   <br><br>

    </p>

    <p>
        #____ SSO single sign on <br>------------------<br>
        user logs in once & that credentials is used to access multi apps or resources <br><br>

        Federation -- When set up SSO between multiple identity providers <br>
        |--> uses the Trust relationship to allow access to resources <br>
        <br>
        Cloud-based identity providers ex.. <br>
        MS Entra ID <br>
        Google <br>
        Amazon <br>
        LinkedIn  <br>
        Github  <br>
    </p>
    <p>
        #____ Active Directory  <br>------------------<br>
        directory --> hierarchical structure that stores info about objects on the network <br>
        directory service ---> stores directory data & makes it avail. to network users, admins, services & apps <br>
        <br>
        AD (Active Directory) --> is a set of directory services for on-prem domain-based networks <br>
        AD DS (Active directory domain services) <br>
        --> stores info about members of the domain, <br>
        --> devices and users <br>
        --> verifies credentials <br>
        --> defines the access rights <br>
        --> Domain Controller (DC) --> server running the AD DS <br>
        --> central component in org's w/ on-prem IT infrastructure <br>
        --> gives orgs the ability to manage multiple on-prem infrastructure components & systems using a single identity per user <br>
        <br>


    </p>
    <p>
        #____ Microsoft Priva <br>------------------<br>

    </p>

</body>
</html>