<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1013 ports notes </title>
</head>
<body>
    <h1> Ports demo</h1>
    <a href="#botm">Link to page end</a>
    <p id="topg">

      #_____  Ports --> used to identify protocols  <br>------------------<br>
      used to identify different types of data during transmission <br>
      assigned w/in the transport layer <br>
      port range: 0 - 65535 <br>


    </p>

    <p>
      #_____  Ports  <br>------------------<br>
        Protocols: pick which want to use for data transmissions<br>
        _____ port <br>
        HTTP:___ 80 <br>
        HTTPS:_ 443  <br>
        FTP (file transfer protocol): <br>
        |____ 21, 20 <br>
        Telnet:  <br>
        |____ 23 <br>
        SSH (secure shell):  <br>
        |____ 22 <br>
        POP3 (post office protocol 3):  <br>
        |____ 110 <br>
        |___> used to receive email <br>
        <br>
        IMAP4 (interactive mail access protocol):  <br>
        |____ 143 <br>
        |___> used to receive email <br><br>

        SMTP (simple mail transfer protocol):  <br>
        |____ 25 <br>
        |___> used to send email <br>
        |__> multiple message exchanges: <br>
        |__> HELO --used to create the SMTP connection between client / server <br>
        |__> MAIL FROM --who is sending the email <br>
        |__> RCPT TO --reports the emails recipient <br>
        |__> DATA --prepare & initiate the transfer of info between client /server <br>
        |__> RSET -- reset the connection & clear all earlier transfer data w/o closing the SMTP connection <br>
        |__> QUIT -- ends connection <br>
        <br>
        # the destination port is always the protocol being used  <br>
        port: 587 allows data to be encrypted <br>

        <br>
        DNS (domain name service):  <br>
        |____ 53 <br>
        TFTP (): <br>
        |____ 69 <br>
        DHCP (dynamic host control protocol):<br>
        |____ 67, 68 <br>
        NTP(network time protocol): <br>
        |____ 123 <br>
        Syslog: 514 <br>


    </p>

    <h2>#_____  Network protocols are grouped into 3 categories  </h2>
    <p>
        <b>Network communication protocols</b> <br>
        |____>   <br>
        <br>
        <b>Network security protocols </b> <br>
        |____> SSL (secure socket layer) -> standard encryption & security protocol <br>
        |<br>
        |____> TLS (transport layer security) -> replaces SSL & provides better security. <br>
        |___> based on IETF standard <br>
        <br>
        HTTPS (hyper text transfer protocol secured) <br><br>

        SSH (secure shell) --> cryptographic network security protocol <br><br>

        <b>Network mgmt protocols</b> <br>-----------------------<br>
        used to monitor and manage devices and detect faults on performance issues <br>
        <br>
        SNMP (simple network mgmt protocol) --> allows for the collection of data from devices on your network <br>
        |__> and the mgmt of those devices <br><br>

        ICMP (internet control message protocol) <br>
        |__> allows network-connected devices to send warning & error messages <br>
        |__> also connect request failures/success, or unavailable <br>
        |__> not used to get/send data to/from devices on the network <br>


    </p>

    <p>
      #_____  Ports  <br>------------------<br>


    </p>

    <p>
      #_____  Ports  <br>------------------<br>


    </p>

    <p id="botm">
      #_____  Ports  <br>------------------<br>


    </p>
    <a href="#topg">Link to page top</a>


</body>
</html>