<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1013 osi model demo  </title>
    <style>
        p {color: darkblue; border: 2px solid blue;}
    </style>
</head>
<body>
    <h1>1013 OSI model demo</h1>
    <p>
        #____ OSI (Open Systems Interconnection) model here  <br>-----------------<br>

    </p>

    <p>
        #__7__ Application layer  here  <br>-----------------<br>
        provides an interface w/ which u can access the network to perform the necessary tasks. <br>
        to provide end-user services, such as file transfers, email, <br>
        identifies the specific protocol required by the application <br>
        Data unit: data <br>
        Protocols: <br>
        _____ port <br>
        HTTP:___ 80 <br>
        HTTPS:_ 443  <br>
        FTP (file transfer protocol): <br>
        |____ 21, 20 <br>
        Telnet:  <br>
        |____ 23 <br>
        SSH (secure shell):  <br>
        |____ 22 <br>
        |___> common usage: remote admin. of servers, routers, network devices <br>
        |__> provides encrypted communication between the client / server <br>

        <br>
        POP3 (post office protocol 3):  <br>
        |____ 110 <br>
        IMAP4 (interactive mail access protocol):  <br>
        |____ 143 <br>
        SMTP (simple mail transfer protocol):  <br>
        |____ 25 <br>
        DNS (domain name service):  <br>
        |____ 53 <br>
        TFTP (): <br>
        |____ 69 <br>
        DHCP (dynamic host control protocol):<br>
        |____ 67, 68 <br>
        |___> assigns an available IP address to the device, along w/ network config. settings<br>
        |__> Subnet mask,  default gateway, DNS server address <br>
        |_> IP assignment steps --> DHCP Discover -> Offer --> Request --> Acknowledgment <br>


        <br>
        NTP(network time protocol): <br>
        |____ 123 <br>
        Syslog: 514 <br>
        <br>
        SNMP (simple network mgmt protocol) <br>
        |--> can secure devices on LAN or WAN <br>
        |--> 3 components: <br>
        |____> Manager -- is the client <br>
        |____> Agent -- is the server  <br>
        |____> Mgmt info base (MIB) -- is the database  <br>
    </p>

    <p>
        #__6__ Presentation layer here  <br>-----------------<br>
        deals w/ data formatting, encryption, decryption, data presentation <br>
        converts data into a usable format for the receiving app. <br>
        establishes a common format for the data so it can be understood by both sender/receiver <br>
        Data unit: data <br>
        Protocols: HTTP: port 80, SMTP: port 25 <br>
    </p>

    <p>
        #__5__ Session layer  <br>-----------------<br>
        responsible for managing communication sessions / states between applications <br>
        Data unit: data <br>
        Protocols: HTTP: port 80, SMTP: port 25 <br>
        SSL (secure socket layer) --encrypts data, authenticates data origins, ensures data integrity <br>
        <br>
        DTLS (datagram communication security protocol based on TLS)
    </p>

    <p>
        #__4__ Transport layer  <br>-----------------<br>
        establishes connections between devices & can ensure reliable transport between the two <br>
        responsible for delivery of data between apps on seperate hosts <br>
        assigns the port numbers to identify types of data during transmission <br>
        Data unit: Segments <br>
        Protocols: TCP: protocol 6, UDP: protocol 17 <br>
    </p>

    <p>
        #__3__ Network access layer  <br>-----------------<br>
        selects the best path to route data packets over a network <br>
        responsible for transmitting data between nodes on the same network <br>
        addresses devices w/ IPv4 & IPv6 protocols <br>
        Data unit: packets <br>
        Protocols: IPv4, IPv6 <br>
        IPSec -- protocol & algorithm suite that secures data transferred over public networks like internet<br>
        |--> originally contained the ESP & AH protocols <br>
        |--> can protect sensitive data & VPNs providing tunneling to encrypt data transfers<br>
        |--> can encrypt at the app layer 7. <br>
        <br>
        ESP (encapsulating security payload) --> encrypts data & provides authN <br>
        AH (authN header) --> offers anti-replay capabilities & protects data integrity <br>

        <br>
    </p>

    <p>
        #__2__ Data Link layer <br>-----------------<br>
        Checks the data is ready to send making sure its reliable & error free <br>
        Data unit: frames <br>
        Protocols: Ethernet, WiFi <br>
    </p>

    <p>
        #__1__ Physical layer  <br>-----------------<br>
        converts the data into electrical signals for transmission thru cables or wireless thru air <br>
        Data unit: bits <br>
        Protocols: Ethernet, WiFi <br>

    </p>

    <h1> TCP / IP (transmission control protocol / internet protocol)</h1>
    <p>
        #____ how TCP/IP works  <br>--------------------<br>
        1 --> break data into packets <br>
        2 --> sending packets <br>
        3 --> receiving packets <br>
        4 --> checking for errors <br><br>

        for each segment of data: <br>
        sequence number --> order of the packets <br>
        acknowledgment number (ACK) --> used to check if packages arrived <br>
    </p>

    <p>
        #____ TCP/IP stack 4 layers:  <br>--------------------<br>

    </p>

    <p>
        #____ Application layer  <br>--------------------<br>
        deals w/ apps running on devices and data they generate <br>
        Data unit: data <br>
        Protocols: HTTP, SMTP <br>
        <br>
        processes associated w/ OSI model: <br>
        Application  <br>
        Presentation  <br>
        Session  <br>

        #____ Application layer  here  <br>-----------------<br>
        provides an interface w/ which u can access the network to perform the necessary tasks. <br>

        #____ Presentation layer here  <br>-----------------<br>
        deals w/ data formatting, encryption, decryption, data presentation <br>

        #____ Session layer  <br>-----------------<br>
        responsible for managing communication sessions / states between applications <br>

    </p>

    <p>
        #____ Transport layer  <br>--------------------<br>
        ensures data is sent reliably, using TCP/IP protocol <br>
        Data unit: Segments <br>
        Protocols: TCP, UDP <br>
    </p>

    <p>
        #____ Internet layer  <br>--------------------<br>
        forwards packets from source to destination <br>
        Data unit: packets <br>
        Protocols: IPv4, IPv6 <br>
    </p>

    <p>
        #____ Network interface layer  <br>--------------------<br>
        a.k.a  Data link layer <br>
        physical link between the computer & network <br>
        sends & receives data over the network using hardware <br>
        Protocols: ethernet, WiFi <br>
         <br>
        processes associated w/ OSI model: <br>
        Data link layer   <br>
        |__>  Data unit: frames <br>
        Physical layer  <br>
        |__> Data unit: bits <br>
    </p>



</body>
</html>