<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1015 Azure notes</title>
    <style>
        h1 {color:blue; border: solid 2px blue;}
        h3 {margin: 5px 0 2px 0; color: darkblue;}
        p {color: darkblue; border: dashed blue 2px; padding: 5px 0 5px 10px;}
    </style>
</head>
<body>
    <h1>1015 Azure details notes</h1>

    <h3>Azure -- cloud computing platform </h3>
    <p>can provide: computing resources, storage, networking, security services</p>

    <h3>Azure Network services </h3>
    <p>
        virtual networks --> create isolated network environments to host apps and services <br>
        load balancers --> distribute app traffic evenly across VMs <br>
        traffic managers --> directs traffic to most suitable service endpoint <br>
        VPN gateway --> provides secure access to a business virtual network from remote locations or on-prem datacenters <br>
        Application gateway --> <br>
        CDN -->   <br>
        Azure DNS -->   <br>
        Express Route -->   <br>
    </p>


    <h3>Azure Storage services</h3>
    <p>
        blob storage --> unstructured data as images, videos, documents<br>
        file storage --> structured data .. ex. db's  <br>
        queue storage --> data passing between different components of a app  <br>
        table storage --> reads/writes from tables
    </p>

    <h3>Azure Analytics</h3>
    <p>
        #____ used to gain insights into customer behavior, monitor business performance, data-driven decisions
        suite includes: <br>
        Power BI <br>
        Azure Data Lake <br>
        Azure Machine Learning <br>
        <br>--------------<br>
        Azure Stream Analytics -- real time data streaming service to analyze & process large data amounts  <br><br>

        Azure Data Lake Analytics -- distributed analytics service to perform big data analysis on large scale  <br>
        |__> can process & analyze data from social media, IoT, logs from web servers<br><br>

        ex1. online shopping website using the cloud to identify customer buying trends <br>
    </p>


    <h3>Microsoft 365</h3>
    <p>
        #____ suite of cloud-based apps   <br>--------------<br>
        suite includes ... Word, Excel, PowerPoint, SharePoint, OneDrive, Teams <br>

    </p>

    <h3>Azure Insights</h3>
    <p>
        #____ real-time analytics & monitoring tool, that provides insights into apps & infrastructure  <br>--------------<br>

    </p>

    <h3>Hypervisors and VMs </h3>
    <p>
        Hypervisor --> virtualization software that is run on the physical host machine
    </p>
    <p>
        #____ 2 types:   <br>--------------<br>
        type 1 -- bare meal hypervisors <br>
        |.. directly installed on host machines hardware <br>
        |.. ex1. VMware, ESXI, Microsoft Hyper V, Citrix Xen server <br>
        |.... WSL (windows subsystem for Linux) -- uses hyper V architecture <br><br>

        type 2 -- hosted hypervisors <br>
        |.. run ontop of a host OS <br>
        |.. mainly used for desktop virtualization, test env., personal use <br>
        |.. ex1. Oracle VirtualBox, VMware, Workstation, Parallels desktop <br>


    </p>

    <h3>VMs and containers demo</h3>
    <p>
        #____ VM (virtual machine)  <br>--------------<br>
        a.k.a. virtual server --> software system that works like a single virtual pc <br>
        can split the physical machine or server into multiple VMs <br>
        each sharing resources such as RAM, CPU, and network.  <br>
        ex1. VMware Workstation, VirtualBox, Hyper-V <br><br>

        #____ Containers <br>------------------------<br>
        lightweight software package providing isolated env. for running apps <br>
        each container shares the underlying OS w/ the host machine <br>
        each container has its own file system, network, app space <br>
        ex1. Docker, Kubernetes, Podman
    </p>

    <h3>Azure Cognitive services</h3>
    <p>
        #____ cloud based service that allows devs to build intelligent apps. <br>
        uses AI to analyze customer data <br>
    </p>

    <h3>XaaS (anything as a Service)</h3>
    <p>
        #____ SaaS (software as a Service) <br>------------------<br>
        users connect to and use cloud based apps over the internet <br>
        users dont install any software and sign in on browser to use the hosted software <br>
        ex1. Netflix, Microsoft 365, Spotify... <br>
        customer responsibility: <br>
        Information & data <br>
        Devices (mobile & pc) <br>
        Accts & identities <br>
        shared: Identity & directory infrastructure <br>

    </p>

        #____ PaaS (Platform as a Service) <br>------------------<br>
        is a complete development and deployment environment in the cloud <br>
        co. uses to create & publish new programs or apps, w/o having to manage the infrastructure <br>
        ex1. Microsoft Azure, AWS lambda, Google app engine <br>
        customer responsibility: <br>
        Information & data <br>
        Devices (mobile & pc) <br>
        Accts & identities <br>
        shared: <br>
        Identity and directory infrastructure <br>
        Applications <br>
        Network controls <br>

    </p>

    <p>
        #____ IaaS (Infrastructure as a Service) <br>------------------<br>
        cloud computing service that offers computing, storage, and networking resources on demand <br>
        client will purchase, install, configure, manage their own software, OS and apps <br>
        cloud provider will manage the infrastructure <br>
        User can choose the OS, and determine the power of CPU's to use <br>
        customer responsibility: <br>
        Information & data <br>
        Devices (mobile & pc) <br>
        Accts & identities <br>
        Identity and directory infrastructure <br>
        Applications <br>
        Network controls <br>
        Operating system <br>

    </p>

    <p>
        #____ SaaS (software as a Service) <br>------------------<br>

    </p>

    <p>
        #____ SaaS (software as a Service) <br>------------------<br>

    </p>


</body>
</html>