<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1015 Azure notes</title>
    <style>
        h1 {color:blue; border: solid 2px blue;}
        h3 {margin: 5px 0 2px 0; color: darkblue;}
        p {color: darkblue; border: dashed blue 2px; padding: 5px 0 5px 10px;}
    </style>
</head>
<body>
    <h1>1015 Azure details notes</h1>

    <h3>Azure -- cloud computing platform </h3>
    <p>can provide: computing resources, storage, networking, security services</p>

    <h3>Azure Network services </h3>
    <p>
        virtual networks --> create isolated network environments to host apps and services <br>
        load balancers --> distribute app traffic evenly across VMs <br>
        traffic managers --> directs traffic to most suitable service endpoint <br>
        VPN gateway --> provides secure access to a business virtual network from remote locations or on-prem datacenters <br>
        Application gateway --> <br>
        CDN -->   <br>
        Azure DNS -->   <br>
        Express Route -->   <br>
    </p>


    <h3>Azure Storage services</h3>
    <p>
        blob storage --> unstructured data as images, videos, documents<br>
        file storage --> structured data .. ex. db's  <br>
        queue storage --> data passing between different components of a app  <br>
        table storage --> reads/writes from tables
    </p>

    <h3>Azure Analytics</h3>
    <p>
        #____ used to gain insights into customer behavior, monitor business performance, data-driven decisions
        suite includes: <br>
        Power BI <br>
        Azure Data Lake <br>
        Azure Machine Learning <br>
        <br>--------------<br>
        Azure Stream Analytics -- real time data streaming service to analyze & process large data amounts  <br><br>

        Azure Data Lake Analytics -- distributed analytics service to perform big data analysis on large scale  <br>
        |__> can process & analyze data from social media, IoT, logs from web servers
    </p>


    <h3>Microsoft 365</h3>
    <p>
        #____ suite of cloud-based apps   <br>--------------<br>
        suite includes ... Word, Excel, PowerPoint, SharePoint, OneDrive, Teams <br>

    </p>

    <h3>Azure Insights</h3>
    <p>
        #____ real-time analytics & monitoring tool, that provides insights into apps & infrastructure  <br>--------------<br>

    </p>

    <p>
        #____   <br>--------------<br>

    </p>

    <p>
        #____   <br>--------------<br>

    </p>


</body>
</html>