<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1016 firewall types   </title>
    <style>
        p {color: darkblue; border: 2px solid blue; padding: 5px 0 5px 5px;}

    </style>
</head>
<body>
    <h1 id="topg">1016 firewall types demo</h1>
    <a href="#botm">Link to bottom page</a>
    <p>
        #____ firewall types:  <br>--------------------<br>
        Host-based --> software based firewall, only 1 device <br><br>

        Network-based <br>--> hardware based firewall used to filter in/out traffic from a LAN <br>
        --> can be hardware or added software included w/ router <br><br>

        Packet filtering <br>type that controls data flow in/out of a network <br>
        use of user-defined IP addresses, protocols, ports, rules <br>
        OSI model: layer 2 data link - layer 3 network - layer 4 transport<br><br>

        Circuit Level gateway <br>
        provides connection security to internal/external pc in a networks session layer<br>
        TCP/IP model ---> works between the transport & application layers<br>
        OSI model -----> session -layer 5 <br>
        relays TCP connections, & doesnt do packet filter based on packet content <br><br>

        Application level gateway a.k.a. proxy firewall <br>
        OSI model ---> applicaion layer 7 <br>
        filters traffic based on data packet content rather than just packet headers <br>
        ex1. URL, filtering, content filtering, authN<br><br>

        Application proxy firewall <br>
        filters messages at the application <br>
        considered the most secure form as no networks actually contact the systems<br>
        has own internal protocol address, so no ext. network connection can get packets directly from the network<br>
        OSI model: layer 7 Application<br><br>


        SMLI (Stateful multilayer inspection)  firewall <br>
        uses high tech form of packet filtering<br>
        examines all 7 layers of OSI model <br>
        examines the entire packet, including the data<br>
        OSI model: layer 3 Network <br><br>


        NAT (network address translation) firewall <br>
        uses NAT to protect network from unauthorized access<br>
        private network devices IP addresses are hidden when communicating w/ internet <br>
        OSI model: layer 3 network<br><br>

        VPN firewall <br>
        designed specifically to protect intercepts of VPN connection <br>
        OSI model: layer 2 -7

    </p>

    <h3></h3>

    <p>
        #____   <br>--------------------<br>


    </p>

    <h3></h3>

    <p>
        #____   <br>--------------------<br>


    </p>

    <h3></h3>

    <p>
        #____   <br>--------------------<br>


    </p>

    <h3></h3>

    <p>
        #____   <br>--------------------<br>


    </p>

    <h3></h3>



    <a href="#topg">link to top</a>
</body>
</html>