<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="1017_css_adds.css">
    <title>1017 JS notes demo</title>
</head>
<body>
    <h1 id="topg">1017 JS notes </h1>
    <a href="#botp"> Link to pg bottom</a>
    <h3>  JS if / else statements  </h3>
    <p>
        #____ if else   ex1.  <br>------------------<br>
        var result = 50; <br>

        if (result > 40) {   <br>
        .. console.log("Congrats u passed");  <br>
        } else {   <br>
        .. console.log("Nope");   <br>
        }   <br><br>---------------------ex2.----<br>

        var food = "hot";  <br>

        if (food == "hot") {   <br>
        .. console.log('Too hot')  <br>
        }  <br>
        else if (food == "cold") {   <br>
        .. console.log('Too cold')   <br>
        }  <br>
        else {   <br>
        .. console.log('Just right')   <br>
        }  <br><br>---------------------ex3.----<br>

        //converting the previous if-else example with switch-case<br>
        switch(light) {  <br>
        .. case 'green':  <br>
        ...... console.log("Drive");  <br>
        ...... break;  <br>
        .. case 'orange':  <br>
        ...... console.log("Get ready");   <br>
        ...... break;  <br>
        .. case 'red':  <br>
        ...... console.log("Don't drive");  <br>
        ...... break;  <br>
        .. default:  <br>
        ...... //this block will run if no condition matches  <br>
        ...... console.log('The light is not green, orange, or red'); <br>
        ...... break; <br>
        }  <br><br>---------------------ex4.----<br>

        var age = 10; <br>
        if (age >= 65) {   <br>
        .. console.log('You get your income from your pension')  <br>
        } else if (age < 65 && age >= 18) {  <br>
        .. console.log('Each month you get a salary')  <br>
        } else if (age < 18) { <br>
        .. console.log('You get an allowance')   <br>
        } else {  <br>
        //this block will run if no condition matches   <br>
        .. console.log('The value of the age variable is not numerical')   <br>
        } <br>

        <br><br>---------------------ex5.----<br>
var day = 'Sunday';
switch(day) {
   case 'Monday':
       console.log('Do something');
       break;
   case 'Tuesday':
       console.log('Do something');
       break;
   case 'Wednesday':
       console.log('Do something');
       break;
   case 'Thursday':
       console.log('Do something');
       break;
   case 'Friday':
       console.log('Do something');
       break;
   case 'Saturday':
       console.log('Do something');
       break;
   case 'Sunday':
       console.log('Do something');
       break;
   default:
       //this block will run if no condition matches
       console.log('There is no such day');
}
    </p>

    <h3>  Loops demo </h3>
    <p>
        #____ for loops  --> continually executes repeated blocks of code until a certain condition is satified   <br>------------------<br>
        i  --> common counter used in JS  <br>
        |__> used by loop to know when to start or stop <br><br>


        for (var i = 1; i<101; i++) { <br>
        .. console.log(i);  <br>
        }   <br><br>

        1| set the value -->   var i = 0;  <br>
        2| specify the condition -->   i < 3;   <br>
        3| increment the counter -->   i++  <br><br>

        #____ while loop --> will run as long as the condition returns true   <br>
        |__> the counter is set outside the while loop  / global variable  <br>
        |__> the increment is done inside the loops body   <br>

        -----------------<br>
        var i = 1;  <br>

        while (i < 4) {  <br>
        .. console.log(i);   <br>
        .. i=i+1;   <br>
        }  <br><br>

        --------------------<br>
        for (var i = 10; i > 0; i--) {  <br>
        .. console.log(i)  <br>
        } <br>
        console.log('happy new years')  <br><br>

        ---------------------<br>
        var counter = 3; <br>
        while (counter > 0) {   <br>
        .. console.log(counter);  <br>
        .. counter = counter - 1;  <br>
        }  <br>
        console.log('happy day');
    </p>

    <h3>  Nested loops </h3>
    <p>
        #____ nest loops w/in other loops to perform multiple tasks at one time <br>------------------<br>
        ex1: <br>-------<br>
        for (i = 0; i < 2; i++) {    // outer loop <br><br>

        .. for (j = 1; j<=7; j++) {      // inner loop  <br>
        .. console.log("Week " + i + " day " + j)    <br>
        .. }   <br>
        }   <br>





    </p>

    <h3>  Functions </h3>
    <p>
        #____ take several lines of code that performs a set of related actions, groups together under a single label <br>
        declare a function by typing keywork --> function <br>
        call a function by typing the function name followed by the () -- open/close parentheses <br>
        ------------------<br>
        ex.<br>
        function addTwoNums() { <br>
        .. // Code goes here <br>
        } <br><br>

        ex.1<br>
        function addTwoNums() { <br>
        <br>
        .. var a = 10;  <br>
        .. var b = 20;  <br>
        .. var c = a + b;  <br>
        .. console.log(c)  <br>
        }  <br><br>

        // call the function<br>
        addTwoNums();   // 30 <br><br>



        ex2.<br>
        function myFunc() { <br>
        .. console.log("Hola World"); <br>
        } <br><br>

        // call the function <br>
        myFunc(); <br><br>

        ex3. function parameters demo<br>-----------------------<br>
        function addTwoNums(a,b) {  <br>
        .. var c = a + b;   <br>
        .. console.log(c);  <br>
        }  <br><br>

        // values passed to the function are called 'arguments' <br>
        addTwoNums(2,2);    // 4  <br><br>

    </p>

    <h3>  Array [] -- data storage </h3>
    <p>
        #____ set in specific sequence called index values, can be rearranged   <br>------------------<br>
        starts at zero, so a loops starts w/ a 0 counter value also... <br><br>

        // open list w/ nothing in it <br>
        var train1 = []   <br><br>

        // add items to the array <br>
        var train1 = ["wheat", "barley", "potato", "salt", "rocks"];  <br><br>

    </p>

    <h3>  Calling functions and for loops demo </h3>
    <p>
        #____ code simple functions that can accept an array & iterate thru it  <br>------------------<br>
        function listArrayItems(arr) { <br>
        .. // add code here  <br>
        } <br><br>

        'for loop' needs the following info: <br>-------------------<br>
        1. starting loop counter value  --> variable i  <br>
        2. exit condition  <br>
        3. how to update the value of i after each loop  <br><br>

        function listArrayItems(arr) { <br>
        .. // add code here  <br>
        .. for (var i = 0; i < arr.length; i++) {  <br>
        ...... console.log(arr[i])  // display the array item where the index is equal to i  <br>
        .. }  <br>
        }     <br><br>

        ex2. <br>
        var colors = ['red', 'orange', 'yellow', 'green', 'blue', 'purple', 'pink'];  <br><br>
        //display all items in the array at once <br>
        listArrayItems(colors);    <br><br>

        red <br>
        orange <br>
        yellow<br>
        green<br>
        blue<br>
        purple  <br>
        pink  <br>

        ex3. function that takes an array as input & display all items of the array <br>-------------------------<br>
        function listArrayItems(arr) {  <br>
        .. for (var i = 0; i < arr.length; i++) {  <br>
        ...... console.log(i, arr[i])  <br>
        .. } <br>
        }    <br><br>

        var colors = ['red', 'orange', 'yellow', 'green', 'blue', 'purple', 'pink'];  <br>
        listArrayItems(colors);  <br>

        0 'red'     <br>
        1 'orange'  <br>
        2 'yellow'  <br>
        3 'green'   <br>
        4 'blue'    <br>
        5 'purple'  <br>
        6 'pink'    <br><br>

        ex4. to start the count from 1 instead of 0 --> update the function declaration <br>--------------------------<br>
        function listArrayItems(arr) {  <br>
        .. for (var i = 0; i < arr.length; i++) {  <br>
        ...... console.log(i+1, arr[i])  <br>
        .. } <br>
        }    <br><br>

        1 'red'     <br>
        2 'orange'  <br>
        3 'yellow'  <br>
        4 'green'   <br>
        5 'blue'    <br>
        6 'purple'  <br>
        7 'pink'    <br><br>

        ex5. add 1 or more conditions, <br>------------------------<br>
        function listArrayItems(arr) {   <br>
        .. for (var i = 0; i < arr.length; i++) {   <br>
        ...... if (arr[i] == 'red') {  <br>
        ..........  console.log(i*100, "tomato!")  <br>
        ...... } else {   <br>
        ..........  console.log(i*100, arr[i])  <br>
        ...... }  <br>
        .. }  <br>
        }  <br><br>

        0 'tomato!'  <br>
        100 'orange' <br>
        200 'yellow' <br>
        300 'green'<br>
        400 'blue'<br>
        500 'purple'  <br>
        600 'pink' <br>


    </p>

    <h3>  section </h3>
    <p id="botp">
        #____ letterFinder example demo1  <br>------------------<br>
        function letterFinder(word, match) {  <br>
        .. for (var i = 0; i < word.length; i++) {   <br>
        ...... if (word[i] == match) {  <br>
        ..........  console.log('Found the', match, 'at', i)  <br>
        ...... } else {   <br>
        ..........  console.log('--No match found at', i)  <br>
        ...... }  <br>
        .. }  <br>
        }  <br><br>

        letterFinder('test', 't')  <br><br>
        Found the t at 0  <br>
        ---No match found at 1  <br>
        ---No match found at 2  <br>
        Found the t at 3  <br><br>





    </p>
    <a href="#topg"> Link to top </a>

</body>
</html>