<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1017 JS notes demo</title>
</head>
<body>
    <h1 id="topg">1017 JS notes </h1>
    <a href="#botp"> Link to pg bottom</a>
    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p id="botp">
        #____ para  <br>------------------<br>

    </p>
    <a href="#topg"> Link to top </a>

</body>
</html>