<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="1017_css_adds.css">
    <title>1017 python notes</title>
</head>
<body>
    <h1>1017 python notes </h1>
    <a id="topg" href="#botp">link to bottom page</a>

    <h3>submod1</h3>
    <p>
      #____    <br>----------------------<br>

    </p>

    <h3>submod1</h3>
    <p>
      #____    <br>----------------------<br>

    </p>

    <h3>submod1</h3>
    <p>
      #____    <br>----------------------<br>

    </p>

    <h3>submod1</h3>
    <p>
      #____    <br>----------------------<br>

    </p>

    <h3>submod1</h3>
    <p>
      #____    <br>----------------------<br>

    </p>

    <h3>submod1</h3>
    <p>
      #____    <br>----------------------<br>

    </p>

    <a id="botp" href="#topg">Link to top page</a>
</body>
</html>