<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1017 JS notes demo</title>
</head>
<body>
    <h1 id="topg">1017 JS notes </h1>
    <a href="#botp"> Link to pg bottom</a>
    <h3>  JS if / else statements  </h3>
    <p>
        #____ if else   ex1.  <br>------------------<br>
        var result = 50; <br>

        if (result > 40) {   <br>
        .. console.log("Congrats u passed");  <br>
        } else {   <br>
        .. console.log("Nope");   <br>
        }   <br><br>---------------------ex2.----<br>

        var food = "hot";  <br>

        if (food == "hot") {   <br>
        .. console.log('Too hot')  <br>
        }  <br>
        else if (food == "cold") {   <br>
        .. console.log('Too cold')   <br>
        }  <br>
        else {   <br>
        .. console.log('Just right')   <br>
        }  <br>



    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p>
        #____ para  <br>------------------<br>

    </p>

    <h3>  section </h3>
    <p id="botp">
        #____ para  <br>------------------<br>

    </p>
    <a href="#topg"> Link to top </a>

</body>
</html>