<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="1017_css_adds.css">
    <title>1024 cryptography notes </title>
</head>
<body>
    <h1 id="topg">Cryptography & public key infrastructure</h1>
    <a href="#botp">link to page bottom</a>
    <h3>1024 Cryptography demo</h3>
    <p>
        #____ Cyptography techniques   <br>--------------------<br>
        Encryption <br>----------------<br>
        converts plain text into cyphertext, which can only be decoded by the intended receiver<br>
        cipher --> mathematical formula that transforms plaintext into ciphertext<br>
        <br>
        Symmetric <br>
        uses the same key to encrypt & decrypt data.  <br>
        both sender/recipient have identical copies of key. <br>
        Cipher text --> data is encrypted into cypher text, meaning no1 can read or understand w/o key <br>
        <br>
        Asymmetric <br>-- aka public key cryptography-------------<br>
        type of encryption that uses a pair of keys to encrypt/decrypt data <br>
        sender uses the recipients <em>public key</em> to encrypt the data<br>
        public key is available to anyone <br>
        only the private key is used to unlock the messages<br>
        recipient uses the <b>private key</b> to decrypt it<br>

        <br>
        eliminates the need to exchange secret keys<br>
        ex1.<br>
        RSA<br>Diffy Hellman<br>ECC (Elliptic curve cryptography)<br><br>

    </p>
    <h3>DES (date encryption standard)</h3>
    <p>
        #____ types:  DES (symmetric)  <br>
        breaks plain text input into 64 bit blocks to encrypt<br>
        starts w/ IP (initial permutation)<br>
        |_> splitting the block into LPT (left plain text) | IP | RPT (right plain text)<br>
        |__> each having 16 rounds of encryption --> LPT @ 16 + RPT @ 16<br>
        |___> rejoining the FP (final permutaion) to make the 64 bit cipher text <br>
        <br>
        DES uses a 64 bit key to encrypt these block w/ each 8 bits called parity bits used to check for errors in cypher text<br>


    </p>
    <h3>AES (advanced encryption standard)</h3>
    <p>
        #____ AES (symmetric)   <br>
        divides data into block of equal size, 128 bits<br>
        1st round: involves byte substitution, shifting rows cyclically to the left mixed columns, adding another round<br>
        key steps 4-7 are repeated for a # of rounds<br>
        10 rounds for 128 bit keys<br>
        12 rounds for 192 bit keys<br>
        14 rounds for 256 bit keys<br>
        <br>
        after the rounds are completed, the final block is produced as cypher text<br>
        so if get hold of the cipher text, u wont decrypt it w/o the correct key<br>

    </p>
    <h3>RC4 encryption algorithm</h3>
    <p>
        #____ is a stream cipher & variable length key algorithm    <br>
        that encrypts one bit at a time.  <br>
        using a pseudorandom bit generator to produce an unpredictable 8 bit number<br>
        combined w/ plain text stream cipher using XOR operation<br>
        <br>
        RC5 (symmetric) <br>-----------------<br>
        known for simplicity, speed, memory consumption<br>
        addresses 2 word blocks at a time<br>
        can be defined based on input, plain text, block size, # of rounds, key size <br>
        <br>
        RC6 ( symmetric ) <br>----------------<br>
        meets requires AES standards<br>

    </p>
    <h3>DSA (digital signature algorithm)</h3>

    <p>
        #____ public key crypto system used for digital signatures   <br>
        system involves key generation where sender keeps their private key secret<br>
        & signature generation<br>----------------<br>
        sender creates a digital signature using their private key<br>
        the receiver then verifies the messages authenticity using senders public key<br>
        <br>
        provides message authN, integrity, & non-repudiation<br>
        ensuring message was sent by private key holder<br>
        <br>
        private key is used by the sender to generate a unique digital signature<br>
        <br>
        public key is used by recipient to verify the authN of signature<br>

    </p>
    <h3>RSA ()</h3>
    <p>
        #____ RSA (asymmetric)<br>-----------------<br>
        public key --> used for encryption   <br>
        private key --> message can only be decrypted by private   <br>
        <br>
        most used asymmetric encryption algorithm <br>

    </p>
    <a id="botp" href="#topg">Link to top page</a>
</body>
</html>