<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django app notes demo1</title>
    <style>
            p {color: blue; border: 2px solid blue;}

    </style>
</head>
<body>
    <h1>Django notes for re-install 1002</h1>
    <p>
        ____# demo1 : install commands to get pipenv installed  <br>------------<br>
        1. pip3 install pipenv <br>
        2. pipenv shell  <br>
        3. pipenv install django <br>
        4. pipenv install djangorestframework <br>
        5. pipenv install djoser <br>
        6. pipenv install mysqlclient <br>
    </p>
    <p>
        ____# cmds to get git stored to the internet  <br>------------<br>
        1. git init <br>
        2. git branch -M main <br>
        3. git remote add origin https....git <br>
        4. git remote -v <br>
        5. git add .  <br>
        6. git commit -m 'msg here for details' <br>
        7. git push -u origin main <br>

    </p>
    <p>
        ____# start your django project   <br>------------<br>
        1. django-admin startproject myproj1002 <br>
        2. py manage.py startapp myapp1002 <br>
    </p>
    <p>
        ____# mysql start install cmds  <br>------------<br>
        1. mysql -u root -p  <br>
        2. CREATE USER 'demoadm1002'@'localhost' IDENTIFIED BY 'pa$w0rdHere'; <br>
        3. GRANT ALL ON *.* TO 'demoadm1002'@'localhost'; <br>
        4. FLUSH PRIVILEGES; <br>
        5. mysql -u demoadm1002 -P  <br>
        6. CREATE DATABASE mydb1002;  <br>
        7. use mydb1002; <br><br>

        # cmd to drop / delete the db <br>
        --> DROP DATABASE mydb1002; <br>

    </p>
    <p>
        ____#   <br>------------<br>
    </p>


</body>
</html>