<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="1017_css_adds.css">
    <title>1102 encryption algorithms</title>
</head>
<body>
    <h1 id="topg">Encryption algorithms notes</h1>
    <a href="#botp">link to page bottom</a>
    <p>
        #_______ types: DES, RC4, RC5, RC6, AES, DSA, RSA<br>


    </p>

    <h3>DES (Data encryption standard</h3>
    <p>
        #_______ <br>
        DES (data encryption standard) <br>
        breaks plain text input into 64 bit blocks to encrypt it using a cryptographic key <br><br>
        start -> 64 bit plain text <br>
        ..|<br>
        ..|___> IP (initial permutation)  # splits into LPT--IP--RPT <br>
        <br>
        LPT (left plain text)<br>
        ..|<br>
        ..|___> 16 rounds <---- key 64_bit --usage<br>

        RPT (right plain text)<br>
        ..|<br>
        ..|___> 16 rounds <---- key 64_bit --usage

        <br><br>==========================<br>
        64 bit key used to encrypt the blocks w/ 8 specific bits<br>
        ..|<br>
        ..|___> parity bits -> used to check for errors in the cipher text<br>
        ..|___> every 8th bit is used for parity bit, <br>
        ..|___> the key will have 56 bits after verification <br><br>==========================<br>

        LPT --- FP --- RPT  conversion<br>
        FP (final permutation)<br>
        ..|<br>
        ..|<br>
        ..|---> 64 bit cypher text <br>

    </p>

    <h3>#_______ AES (Advanced encryption standard)</h3>
    <p>
        #_______<br>
        Symmetric encryption <br>
        divides data into blocks of equal size, ex.. 128 bits <br>
        starts with plain text<br>
        ....|<br>
        ....|____> Round 1:<br>
        ....|____> byte substitution <br>
        ....|____> Shifting of rows to the left<br>
        ....|____> Mixing of columns<br>
        ....|____> Add another round key<br><br>
        _________________________<br>
        Last round of mixing<br>
        ....|____> byte substitution <br>
        ....|____> byte substitution <br>
        ....|____> Add another round key<br><br>

        After all rounds are completed, the final block is made into cipher text<br>
        Note: You will need the correct key to see the data<br>

        <br><br>==========================<br>
        Steps are repeated for a number of rounds<br>
        <b>128 bit keys</b> go for 10 rounds <br><br>

        <b>192 bit keys</b> go for 12 rounds <br><br>

        <b>256 bit keys</b> go for 14 rounds <br><br>

        <br><br>==========================<br>



        <br>

    </p>

    <p>
        #_______ <br>


    </p>

    <a id="botp" href="#topg">link to page bottom</a>
</body>
</html>