<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #info {
            padding: 2px 5% 2px 5%;
            text-align: left;
            color: darkblue;
            width: 30%;
            border: 2px solid;

        }

    </style>


    <title>101024 resume redone for usajobs demo1</title>
</head>
<body>
    <p id="info">
        <em><b>Jesus Gomez</b></em>   <br>
        1502 Effie Ln. <br>Pasadena, TX.  77502. <br>
        jesusg31.2013@gmail.com  <br>
        832-973-1179 <br>
    </p>

    <h3>Work Experience:</h3>

        Medical Equipment Installation Technician <br>
        January 2017 - December 2019 <br>
        60 hours/Week <br>
        $55,000/Year <br><br>

        <ul style="list-style-type: square;">
            <li></li>
            <li></li>
            <li></li>
            <li></li>


        </ul>
        Level of Experience: I served as an assistant to the project lead, my responsibilities included travel arrangements <br>
        to and from the assigned work area.  Logistics tracing of the equipment being transported by truck freight. <br>


</body>
</html>